<IfModule mod_rewrite.c>
ErrorDocument 404 /404
RewriteEngine On
RewriteBase /

#RewriteCond %{HTTPS} !on
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

#url client
RewriteRule ^trang-chu$ /?m=home&act=index [L]
RewriteRule ^trang-chu/$ /?m=home&act=index [L]
RewriteRule ^tai-khoan$ /?m=account&act=index [L]
RewriteRule ^tai-khoan/logout$ /?m=account&act=logout [L]
RewriteRule ^cua-hang$ /?m=shop&act=index [L]
RewriteRule ^cua-hang/chi-tiet-san-pham/([0-9]+)$ /?m=shop&act=detail&id=$1 [L]
RewriteRule ^gio-hang$ /?m=cart&act=index [L]
RewriteRule ^(.*)-id([0-9]+)$ /?m=shop&act=detail&link_url=$1&id=$2 [L]
RewriteRule ^tim-kiem$ /?m=shop&act=search [L]
RewriteRule ^thanh-toan$ /?m=order&act=index [L]
RewriteRule ^thong-tin-ca-nhan$ /?m=account&act=profile [L]

#url tong quan
RewriteRule ^404$ /?m=home&act=error [L]

</IfModule>
